

:root{

    --pure_white--: #fff;
    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --gainsbro:#F5F5F5;
    --fafafa:#fafafa;
    --blue-white:#d0e3ec;
    --floral-white:#fbf8f3;
    --fafafa:#fafafa;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --color-dark--blue: #363949;
  
    /* FONT COLOR */
    --font-color-1-:#2e3944;
  
    /* SIGNS */
    --color-danger: #ff7782;
    --color-danger-b: rgb(232, 162, 168);
    --color-danger-c:rgb(231, 214, 216);
    --color-success_a: #41f153;
    --color-success_b: #64e4b9;
    --color-warning: #ffbb55;


      /* PALLETE 2 */
      --fairy-green-p2-c6:#c6fad2;
      --foam-purple-p2-dd:#dd9bcf;
      --white-in-p2-f6:#f6ffee;
      --danger-in-p2-f4:#f48882;
      --most-pink-p2-fad:#fad2cc;

    --gray_1--:gray;
    --color-jk-dark:#212A31;
    --color-jk-dgray:#f6fbff;
  
    --color-dark-variant: #2c2f31;
    --dark-shadow-friend:#404040;
    --color-dark-shadow: rgb(53,53,53);
    --color-dark-shadow-alpha: rgba(53,53,53,0.5);
    --color-dark-blue:#1f2833;

    /* LUSION */
    --lusion-dark-a:#141619;
    --lusion-dark-b:#2c2e3a;

    /* MOON PHASES */
    --moon-phases-a:#212a31;
    --moon-phases-b:#2e3944;
    --moon-phases-c:#748d92;

    --font-color-a:#B0B0B0;
    --font-color-b:#E0E0E0;

    /* HELLO */
    --hello-a:#0b0c10;
    --hello-b:#000428;

    /* ISOLATED BLUE */
    --isolated-blue:#274d60;
    --isolated-orange:#f1916d;

    --grayple--: #9ba4d4;

    /* GRADIENT COLORS */
    --unique-gradeint-violet: rgb(199, 12, 246);
    --unique-light-blue: cyan;
    --unique-aqua-marine:aquamarine;
    --unique-green:rgb(9, 240, 98);
  
    /* BORDER RADIUS */
    --border-radius_5--:5px;
    --border-radius_8--:8px;
    --border-radius_10--:10px;
    --border-radius_15--:15px;
    --border-radius_20--:20px;
    --border-radius_30--:30px;

    --border-radius_circle--:50%;

    /* BOX SHADOWS */
 
}

@font-face {
    font-family: 'Poppins';
    src: url('../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../Fonts/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Fauna';
    src: url('../../Fonts/Fauna/fauna-thin.ttf');
}

@font-face {
    font-family: 'Mokoto';
    src: url('../../Fonts/Mokoto/Mokoto_Demo.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../Fonts/Poppins/Poppins-Medium.ttf');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body{
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--pure_white--);   
}

svg{
    width: 1.1rem;
    height: 1.1rem;
}

.cremacc_wrapper{

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1.8fr 7fr; 

    width: 100%;
    height: 100vh;
   
    
    background-color: #fafafa;
    
}


    .bd_cremacc{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-area: 1 / 1 / 4/ 5;
     
       
    }

        .bd_numbers_content_b{
            position: relative;
            overflow: hidden;
            grid-area: 2/ 9/ 2 /11;
            margin-right: 1rem;
          
            border-radius: var(--border-radius_10--);

        }
            .bd_approve_js_div{
                right: 1rem;
                 position: absolute;   
                background-color: var(--color-success_b);
                border-radius: var(--border-radius_circle--);
                width: 3rem;
                height: 3rem;
               
            }

            .bd_reject_js_div{
                top: 3rem;
                left: 3rem;
                position: absolute;   
                background-color: var(--color-danger);
                border-radius: var(--border-radius_circle--);
                width: 3rem;
                height: 3rem;
            }

            .bd_gradient_div{
                /* grid-area: 3/ 9/ 9 /11;
                border-radius: var(--border-radius_15--);
                background:linear-gradient(45deg,var(--white-blple--),var(--color-success_b),var(--white-blple--)); */
            }



    .fp_wrapper{

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1.5fr 7fr; 
        grid-area: 1 / 1 / 4/ 5;
        gap: 1rem;

        /* display: none; */
    
    }
         .container{

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius_10--);
            background-color: var(--gainsbro);
            box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
           
        }



            /* HEADER LOGO_________________________________________________________________________________________________________ */
            .container.logo_div {
                display: flex;
                align-items: center;
                justify-content: start;
                grid-area: 1 / 1 / 1 / 1;
                border-radius: 0px;
                border-bottom-right-radius:var(--border-radius_10--);
                height: 100%;
                text-decoration: none;
            
            }
                .container.logo_div img{
                    margin-left: 1.5rem;
                    text-decoration: none;
                    cursor: pointer;
                }
              

                .container.logo_div p{
                    background-clip: text;
                    font-family: 'Mokoto';
                    letter-spacing: 0.1rem;
                    color: var(--moon-phases-b);
                    margin-left: 0.5rem;
                    font-size: 1.2rem;
                    
                    background:
                    linear-gradient(
                    to left,
                    var(--color-dark-variant),
                    var(--moon-phases-c)
                    );
        
                   
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
   
                }

                









            /* SIDEBAR_________________________________________________________________________________________________________ */
            .container.sidebar{

                grid-area: 2 / 1 / 4 / 1;
                z-index: 1;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
            
                border-radius: 0px;
                border-top-right-radius:var(--border-radius_10--);
                
            }

         

               

.sidebar .sidebar_buttons_div{
    display: flex;
    align-items: center;
    flex-direction: column;
 
    margin-top: 1.5rem;
    height: 80%;
    width: 80%;
   
}

    .sidebar .sidebar_buttons_div .sbuttons_div-href {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;

        padding: 0.3rem;
        
        border-radius: var(--border-radius_8--);
        width: 80%;
        color: var(--color-dark-variant);
        transition: 0.2s;
        cursor: pointer;

        text-decoration: none;

    }


    .sidebar .sbuttons_div-href:hover {
        margin-left: 1.5rem;
        transition: 0.5s;
        color: var(--alice-blue);
        background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda);
    }

    .sbuttons_div{
      
    }

      


            .btn_content_div{
                display: flex;
                align-items: center;
                justify-content: start;
              
            }      
            .sidebar_buttons_div #dashboard_button_icon{
                width: 18px;
                height: 18px;
                color: var(--font-color-1-);
                margin-right: 0.5rem;
            }

        .sidebar_buttons_div #recruitment-btn{
            margin-left: 0.5rem;
        }
            .sidebar_buttons_div #recruitment-lbtn{
                    margin-left: 0.6rem;
                }

                #create_emp-btn-href{
                    background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda);
                }

                #btn_lbl_jp_div{
                    margin-left: 0.2rem;
                }
                    #create_emp-btn{
                        margin-right: 1.1rem;
                    }




                
        .sidebar_buttons_div .sbuttons_div{
            display: flex;
            align-items: center;
            justify-content: center ;
        
        }

            .sbuttons_div span{
                color: var(--lusion-dark-b);
                font-size: 0.9rem;
            }

            .sb_button_icons{
                width: 1rem;
                height: 1rem;
                fill: var(--font-color-1-);
                
            }

            #job_posting_button_icon{
                margin-right: 0.3rem;
            }














.main_prompt_con{
    grid-area: 1 / 2 / 1 / 2;
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius_10--);
    border-bottom-left-radius: var(--border-radius_10--);
    box-shadow: none;
    background-color: transparent;
}














/* HEADER_________________________________________________________________________________________________________ */
.container.cremacc_header{
    grid-area: 1 / 3 / 1 / 5;
      

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;

    border-radius: 0px;
    border-bottom-left-radius:var(--border-radius_10--);
 
}

.header_div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}



.right_h_contents{
    margin-left: 0.5rem;
}

#hd_role_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.3rem;
    border-left: 1px solid var(--blue-white);
    /* background-color: yellow; */
}

.user_role{
    color: var(--color-warning);
}



#right_header_div{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;
    /* background-color: var(--mainblue--); */
}


#right_header_profile{
    width: 2rem;
    height: 2rem;
    margin-right:2rem;
 
    border-radius: var(--border-radius_circle--);
    border: 2px solid var(--white-blple--);
    background-color:var(--bluis--);
}


.darkmode_div{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
  
    transition: 0.8s;
   
    height: 1.7rem;
    width: 5rem;
    margin-right: 1.5rem;
    border-radius:  var(--border-radius_10--);

    box-shadow: inset 2px 2px 2px 2px rgba(53,53,53,0.2);
    background-color: var(--main-white--);
    
}


.darkmode_div #sun_moon_toggle_button{
    cursor: pointer;
    position: relative;
    margin-left:  0.5rem;
    margin-right: 0.5rem;
    z-index: 1;
    transition: 0.8s;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: var(--border-radius_circle--);
    background: linear-gradient(45deg, var(--lusion-dark-b),var(--moon-phases-c));
    box-shadow: 0 0 5px var(--moon-phases-c);

}


#sun_moon_toggle_button.darkmode_popup{
                                
    background: radial-gradient(circle at center, #f5f5f5, #d0d0d0 70%, #b0b0b0);
    background-color: gray;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
    
    transform: translateX(200%);
}

.darkmode_div.darkmode_popup{   
    box-shadow: inset 0px 4px 5px 3px rgba(0,0,0,0.5),
    0 0 30px rgba(0,0,0,0.5);           
    border: 2px solid var(--color-dark-shadow);
    background-color: var(--color-dark-variant);
    
}



.container.header.darkmode_popup{
    background: linear-gradient(70deg,#141619,#2c2e3a); 
}





/* ============================================ END OF DARK MODE ============================================= */














.container.number_contents_b{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 4 / 2 / 4;
    margin-right: 1rem;

    row-gap: 1rem;
    box-shadow: none;
    border-radius: var(--border-radius_10--);
    z-index: 2;
  
    background-color: transparent;
    backdrop-filter: blur(25px);
   
}
    .ncb_div{
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius_8--);
    }

 

    .approved_jobseekers{ 
        display: grid;
        grid-area: 1/ 1/1/1;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
    }
        .aj_text_div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
           
            .aj_label_div span{
                font-size: 0.9rem;
            }



    .rejected_jobseekers{ 
        grid-area: 2 /1 2/ 1;
        display: grid;
       
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
        
                
    }
        .rj_label_div{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rj_label_div span{
            font-size: 0.9rem;
        }

         
        


         
        

          
        
    



















        
/* MAIN CONTENTS ======================================================================== ================================================================================================================================================ */

.container.create_acc_container{
    grid-area: 2 / 2 / 4 / 4;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 0;
    border-top-right-radius: var(--border-radius_10--);
    border-top-left-radius: var(--border-radius_10--);
    overflow-y: auto;
    overflow-x: hidden;
}

    .create_acc_divs{
        width: 100%;
    }
        .create_acc_header{
            display: flex;
            align-items: center;
            justify-content: end;
            height: 10%;
            background-color: var(--main-white--);
        }    

        .dept_error_div{

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0rem 0.8rem;
            color: var(--moon-phases-b);
            border-radius: var(--border-radius_5--
            );
            background-color: rgb(242, 215, 165);
            border: 1px solid var(--color-warning);
        }
        

        
        .success_div{
                                                            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            padding: 0rem 0.7rem;
            margin: 1rem;
         
            border-radius: var(--border-radius_5--);
            color: var(--moon-phases-b);
            background-color: rgb(199, 224, 201);
            border: 1px solid var(--color-success_a);
        }

            .success_div span{
                margin-left: 2rem;
                padding: 0.1rem 0.7rem;
                border-radius: var(--border-radius_10--);
                cursor: pointer;
                background-color: rgba(65, 241, 83,0.2);
            }

                .success_div span:hover{
                    margin-left: 2rem;
                    padding: 0.1rem 0.7rem;
                    border-radius: var(--border-radius_10--);
                    background:linear-gradient(45deg, rgb(65, 241, 83),var(--main-white--)); 
                }










            .create_acc_header span{
                font-size: 1.2rem;
                font-family: 'Poppins-Medium';  
                color:rgba(44, 46, 58,0.8);
                margin-right: 1rem;
            }


            .create_acc_section{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.8fr 7fr 0.8fr 1fr;
                height: 90%;        
            }

            
            .create_acc_subdivs {
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .create_acc_form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:auto;
            width: 100%;
            height: 100%;
      
        }       
        
            .left_right_div {
       
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                background-color: var(--gainsbro);
                box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                margin: 1rem;
                border-radius: var(--border-radius_10--);
            }
            .left_right_div.left_create_div{
                grid-area: 1/ 1/ 1 /1;
             }


             


              

                #generate_btn{

                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                
                    cursor: pointer; 
                    border: 1px 1px 0px 1px solid var(--white-blple--);
                    padding: 0rem 0.5rem;
                    font-size: 0.8rem;
                    position: absolute;
                    right: 0rem;
                    color: var(--gray_1--);
                    bottom: 0.1rem;   
                }
                #generate_btn:hover{

                    color: var(--purpluish--);
                  
                }
                    #generate_btn span{
                        margin-left: 0.3rem;
                    }



                

            .left_right_div.right_create_div{
                grid-area: 1/ 2/ 1 /2;
              
            }

                .create_emp_acc_input_box{
                    
                    position: relative;
                    width: 70%;
                    border-bottom: 1px solid var(--white-blple--);
                 
                }

                   .create_emp_acc_input_box input  {
                      
                        width: 97%;
                        padding: 0.2rem 0.5rem; 
                        
                        outline: none;
                        border: none;
                        background-color: transparent;
                        border-radius: var(--border-radius_5--);
                        color: var(--lusion-dark-b);
                    
                    }

                    .role_input_box{
                        border: none;
                    }
                    


                    .crem_lbl{
                        position: absolute;
                        font-size: 0.9rem;
                        pointer-events: none;
                        top: 0.2rem;
                        left: 0.5rem;
                        background-color: var(--gainsbro);
                        color: var(--gray_1--);
                    }

                    .select_role_lbl{
                        font-size: 0.9rem;
                        pointer-events: none;
                        top: 0.2rem;
                        left: 0.5rem;
                        background-color: var(--gainsbro);
                        color: var(--gray_1--);
                    }
                    
            
                    .create_emp_acc_input_box input:focus + .crem_lbl,
                    .create_emp_acc_input_box input:not(:placeholder-shown) +  .crem_lbl{
                        transform: translateY(-15px);
                        transition: 0.8s;
                        padding: 0rem 0.3rem;
                        font-size: 0.6rem;
                    }     
        
        
        


    
            .validation_div_a{
                grid-area: 1/ 1 / 1 / 3;
             
            }
            .validation_div_b{
                flex-direction: column;
                align-items: center;
                justify-content: start;
                grid-area: 3 / 1/ 3/ 3;
             
            }

            .empl_error_div{
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.1rem 0.8rem;
                color: var(--moon-phases-b);
                border-radius: var(--border-radius_5--);
                background-color: rgb(231, 214, 216);
                border: 1px solid rgb(232, 162, 168);
            }
            .empl_error_div p{
                font-size: 0.9rem;
            }

            .remove_error_prompt_empl{
                cursor: pointer;
                padding: 0.1rem 0.7rem;
                margin-left: 2rem;
                border-radius: var(--border-radius_10--);
                background-color: rgb(231, 214, 216);
                font-size: 0.8rem;
            }     
                .remove_error_prompt_empl:hover{
                    background:linear-gradient(45deg ,rgb(231, 214, 216),var(--main-white--));
                }
        

        

            .error_div{
            
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.3rem 0.8rem;
                color: var(--moon-phases-b);
                border-radius: var(--border-radius_5--
                );
                background-color: rgb(231, 214, 216);
                border: 1px solid rgb(232, 162, 168);
                
            }
                .remove_error_prompt{
                    cursor: pointer;
                    padding: 0.1rem 0.7rem;
                    margin-left: 2rem;
                    border-radius: var(--border-radius_10--);
                    background-color: rgb(231, 214, 216);
                    
                    font-weight: 700;
                }
                    .remove_error_prompt:hover{
                        background:linear-gradient(45deg ,rgb(231, 214, 216),var(--main-white--));
                     
                    }


                    

            .button_div{
                display: flex;
                align-items: start;
                justify-content: center;

                grid-area: 4 / 1/ 4/ 3;
            }


            .button_div .crem_buttons{

                text-decoration: none;
                    
                cursor: pointer;
                outline: none;
                border: none;
                border-radius: var(--border-radius_8--);
                margin: 0rem 1rem;
                box-shadow: 0px 5px 10px 5px rgba(53,53,53,0.1);
                color: var(--moon-phases-b);
            }

        
            .button_div #create_emp_acc {
                padding: 5px 1rem;
                background-color: var(--white-blple--);
            }        
                .button_div #create_emp_acc:hover {
                    background: linear-gradient(45deg,var(--white-blple--),var(--white-blple--),var(--main-white--));
                }
            .button_div #discard_crem{
                padding: 3px 1rem;
                border: 1px solid var(--gray_1--);
                font-size: 0.9rem;
                background-color: transparent;
            }
                .button_div #discard_crem:hover {
                    background: linear-gradient(45deg,transparent 30%,var(--white-blple--));
                }






       
          

          


                

    
    .left_right_form{
        
        background-color: var(--bluis--);
    }




/* ASIDE ======================================================================================================================================================================================================================== */
.container.aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  6fr 4fr;
    grid-area: 3 / 4 / 4 / 4;
    border-radius: 0px;
    border-top-left-radius:var(--border-radius_10--);
    border-top-right-radius: var(--border-radius_10--);
    margin-right: 1rem;
    background-color: var(--gainsbro);
    box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.2);
}

    .aside_div{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        height: 100%;
    }

    .aside .vector_div{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(10,1fr);
      
        background-color: transparent;
    }
        .vector_div img{
            grid-area: 2/ 2/ 9 / 6  ;
            object-fit: contain;
          
        }


    .aside .stat_b{
        justify-content: end;
        flex-direction: column-reverse;
      
    }















    


    

/*  DARKMODE CLASS FUNCTIONS --------------------------------------------------------------------- */
#db_wrapper.darkmode_popup{
    background-color: var(--color-dark-variant);
}
    #db_bd_id.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }

    .db_template_wrapper.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }


    
#db_header_logo_div_id.darkmode_popup{
    background-color: var(--color-dark-variant);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}
#db_header_logo_div_id span.darkmode_popup{
        background-clip: text;
    
        background:
        linear-gradient(
        to left,
        var(--moon-phases-c),
        var(--white-blple--)

        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
}



#db_sidebar_id.darkmode_popup{
    background:linear-gradient(to top,var(--color-dark-variant), var(--color-dark-variant),var(--color-dark-variant));
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);    
}
    .sidebar svg.darkmode_popup{
        fill: var(--main-white--);
    }

    .sidebar span.darkmode_popup{
        color: var(--main-white--);
    }
    .sidebar button.darkmode_popup{
        color: var(--main-white--);
    }





#db_header_id.darkmode_popup{
    background-color: var(--color-dark-variant);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

    #user_greetings.darkmode_popup{
        color: var(--main-white--);
    }

    #hd_role_type.darkmode_popup{
        color: var(--color-warning);
    }




#db_numbers_contents_id.darkmode_popup{
    background-color: var(--lusion-dark-b); 
}

    #employee_number.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }

    #jobseekers_number.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }

    #jobpost_number.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }


    .number_contents_b.darkmode_popup{
        background-color: none;
    }
    .approved_jobseekers.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }

        .approved_jobseekers span.darkmode_popup{
          color: var(--main-white--);
        }

    .rejected_jobseekers.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }
        .rejected_jobseekers span.darkmode_popup{
        color: var(--main-white--);
        }




    
#db_main_contents_id.darkmode_popup{
    background-color: var(--color-dark-variant);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
  
}
    .mc_header_text.darkmode_popup{
        color: var(--main-white--);
    }

    .mc_table_div.darkmode_popup::-webkit-scrollbar{
        background-color: var(--color-dark-variant);
    }
    

    .mc_table_div.darkmode_popup::-webkit-scrollbar-thumb{
        border: solid 4px var(--color-dark-variant);
    }


    .mc_th_tr.darkmode_popup{
        background:linear-gradient(to right,var(--moon-phases-c),var(--color-dark-variant));
    }

        .mc_th_tr th.darkmode_popup{
            color: var(--main-white--);
        }



    .db_js_table .mc_data_tr:nth-child(odd).darkmode_popup{
        z-index: 1;
        background-color: var(--color-dark-shadow-alpha);

        }

    .db_js_table .mc_data_tr:nth-child(even).darkmode_popup{

        z-index: 2;
        background-color: var(--color-dark-shadow);

        }
            
    .db_js_table .mc_data_tr:hover.darkmode_popup{
        background:linear-gradient(to right,var(--moon-phases-b),
        var(--color-dark-variant));
    }

    .db_js_table .mc_tb_data.darkmode_popup{
        color: var(--main-white--);
    }




    



.aside.darkmode_popup{
  
    background-color: var(--color-dark-variant);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

   


