
:root{

    --pure_white--: #fff;
    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --gainsbro:#F5F5F5;
    --fafafa:#fafafa;
    --blue-white:#d0e3ec;
    --floral-white:#fbf8f3;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --color-dark--blue: #363949;
  
    /* FONT COLOR */
    --font-color-1-:#2e3944;
  
    /* SIGNS */
    --color-danger: #ff7782;
    --color-danger-b: rgb(232, 162, 168);
    --color-danger-c:rgb(231, 214, 216);;
    --color-success_a: #41f153;
    --color-success_b: #64e4b9;
    --color-warning: #ffbb55;

    --gray_1--:gray;
    --color-jk-dark:#212A31;
    --color-jk-dgray:#f6fbff;
  
    --color-dark-variant: #2c2f31;
    --dark-shadow-friend:#404040;
    --color-dark-shadow: rgb(53,53,53);
    --color-dark-shadow-alpha: rgba(53,53,53,0.5);
    --color-dark-blue:#1f2833;


      /* PALLETE 2 */
      --fairy-green-p2-c6:#c6fad2;
      --foam-purple-p2-dd:#dd9bcf;
      --white-in-p2-f6:#f6ffee;
      --danger-in-p2-f4:#f48882;
      --most-pink-p2-fad:#fad2cc;

    /* LUSION */
    --lusion-dark-a:#141619;
    --lusion-dark-b:#2c2e3a;

    /* MOON PHASES */
    --moon-phases-a:#212a31;
    --moon-phases-b:#2e3944;
    --moon-phases-c:#748d92;

    --font-color-a:#B0B0B0;
    --font-color-b:#E0E0E0;

    /* HELLO */
    --hello-a:#0b0c10;
    --hello-b:#000428;

    /* ISOLATED BLUE */
    --isolated-blue:#274d60;
    --isolated-orange:#f1916d;

    --grayple--: #9ba4d4;

    /* GRADIENT COLORS */
    --unique-gradeint-violet: rgb(199, 12, 246);
    --unique-light-blue: cyan;
    --unique-aqua-marine:aquamarine;
    --unique-green:rgb(9, 240, 98);
  
    /* BORDER RADIUS */
    --border-radius_5--:5px;
    --border-radius_8--:8px;
    --border-radius_10--:10px;
    --border-radius_15--:15px;
    --border-radius_20--:20px;
    --border-radius_30--:30px;

    --border-radius_circle--:50%;

    /* BOX SHADOWS */
 


}



@font-face {
    font-family: 'Poppins';
    src: url('../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../Fonts/Quicksand/static/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Neon_Club_Music';
    src: url('../../Fonts/Neon_Club_Music/NCM/NEON\ CLUB\ MUSIC_medium.otf');
}

@font-face {
    font-family: "Mokoto";
    src: url("../../Fonts/Mokoto/Mokoto_Demo.ttf");
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body{
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;    
    
   
}

    .jpf_wrapper{
        display: grid;
        grid-template-columns: 13rem 9fr;
        grid-template-rows: 10vh 90vh;
        width: 100%;
        height: 100vh;
        
    }

        .jpf_bd_wrapper{
            display: grid;
            grid-template-columns: 13rem 9fr;
            grid-template-rows: 10vh 90vh;
           grid-area: 1 / 1 / 3 / 3;
           
        }

        .jpf_fp_wrapper{
            display: grid;
            grid-template-columns: 13rem 9fr;
            grid-template-rows: 10vh 90vh;
            grid-area: 1 / 1 / 3 / 3;
            background-color: #fafafa;
           
        }


            .jpf_container{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--gainsbro);
                box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
            }

            .jpf_logo_div{
                z-index: 2;
                width: 98%;              
                border-bottom-right-radius: var(--border-radius_10--);
             
            }
       

            #form_nodelab_text{
       
                background-clip: text;
                font-family: 'Mokoto';
                letter-spacing: 0.1rem;
                color: var(--moon-phases-b);
                margin-left: 0.5rem;
                font-size: 1.2rem;

                background:
                linear-gradient(
                to left,
                var(--color-dark-variant),
                var(--moon-phases-c)
                );
    
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }



            .jpf_header{
                z-index: 2;
                grid-area: 1 / 2 / 1 / 3;
               
                border-radius: 0;
                border-bottom-left-radius: var(--border-radius_10--);
                 margin-left: 1rem;
                 background-color: var(--gainsbro);
               
            }
                .jp_left_header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60%;
                    height: 100%;
                
                }
        
                .lh_buttons_div{
                    display: grid;
                    height: 80%;
                    width: 100%;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 0.5rem;
                    margin:0rem 0.5rem;
                 
                }
    
                    .sb_button_icons{
                        width: 1rem;
                        height: 1rem;
                        margin-bottom: 0.1rem;
                        margin-right: 0.3rem;
                        
                        fill: var(--lusion-dark-b);
                    }
    
                    .lh_buttons_div .lh_buttons_href {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        width: 70%;
                        padding: 0rem 1rem; 
                     
                      
                        color: var(--lusion-dark-b);
                    }
    
                    .lh_buttons_div .lh_buttons_href:hover{
                        background-color: var(--main-white--);
                    }
    
                        .lh_buttons_href span {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            color: var(--lusion-dark-b);
                            font-size: 0.9rem;

                        }
    
                        .lh_buttons_href::after{
                            content: '';
                            position: absolute;
                            
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            
                            transform: scale(0);
                            background-color: currentColor;
                            transform-origin: left;
                            transition: transform 0.5s ease-in;
                        }
    
                        .lh_buttons_href:hover::after{
                            transform: scaleX(1);
                        }
               
    
            .jp_right_header{
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: end;
                flex-direction: row-reverse;    
                
            }
    
                #right_header_profile{
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1.5rem;
                
                    border-radius: var(--border-radius_circle--);
                    background-color:var(--bluis--);
                }
                    .darkmode_div{
                        
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        overflow: hidden;
                    
                        transition: 0.8s;
                    
                        height: 1.7rem;
                        width: 5rem;
                        margin-right: 1.5rem;
                        border-radius:  var(--border-radius_10--);
    
                        box-shadow: inset 2px 2px 2px 2px rgba(53,53,53,0.2);
                        background-color: var(--main-white--);    
                    }
    
                            .darkmode_div #sun_moon_toggle_button{
                                cursor: pointer;
                                position: relative;
                                margin-left:  0.5rem;
                                margin-right: 0.5rem;
                                z-index: 1;
                                transition: 0.8s;
                                height: 1.3rem;
                                width: 1.3rem;
                                border-radius: var(--border-radius_circle--);
                                background: linear-gradient(45deg, var(--lusion-dark-b),var(--moon-phases-c));
                                box-shadow: 0 0 5px var(--moon-phases-c);
    
                            }

                            .container.header.darkmode_popup{
                                background: linear-gradient(70deg,#141619,#2c2e3a); 
                            }
    
                    
                    #hd_role_div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
    
                  
                    #hr_name{
                        padding: 0rem 0.3rem;
                    }

                    .user_role{
                        padding: 0rem 0.3rem;
                        border-left: 1px solid var(--blue-white);
                        color: var(--color-warning);
                    }

    
                 
    
    
/* INPUT FORM DIV ============================================================================*/
.jpf_main_form{
   
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 1 / 2 /  3;
 
    margin: 1rem;
}





    .jpf_container.jpf_input_form_div{
       
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10fr 90fr;
        
        height: 100%;
        width: 100%;
       
        
        border-radius: var(--border-radius_10--);
        background-color: var(--gainsbro);
     
    }

        .form_title_div{
    
            display: flex;
            align-items: center;
            justify-content: start;
            height: 100%;
            width: 100%;
            border-radius: 0;
            border-top-left-radius: var(--border-radius_8--);
            border-top-right-radius: var(--border-radius_8--);
            background-color: var(--main-white--);
        }

            .form_title_div  .form-title{
                font-size: 1.1rem;
                margin-left: 2rem;
                color: var(--lusion-dark-b);
            }

    

        /* job list form */

    .jp_form{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        
    }

    
    .jp_id_holder_main_div{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area:  4 / 1 / 4 /4;
        width: 100%;
        height: 100%;
       
    }

        .jp_input_box.EDIT_id_input_holder{
            width: 20%;
          
        }

            .jp_inp_id{
                width: 20%;
                background-color: gray;
            }

   
        
      .edit_jp_form{

        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 7.5fr 0.8fr 1.7fr;
    
        width: 100%;
        height: 100%;
    

      }

        .two_sides_form{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
        
        }
        
            .two_sides_form.left_form{
            
                margin: 1rem;
                margin-left: 2rem;
                grid-area: 1 / 1/ 1 / 1;
                border-radius: var(--border-radius_10--);
                box-shadow: 0px 5px 10px 5px rgba(53,53,53,0.1);
            }
        
            .two_sides_form.right_form{
            
                margin: 1rem;
                margin-right: 2rem;
                grid-area: 1 / 2/ 1 / 2;
                border-radius: var(--border-radius_10--);
                box-shadow: 0px 5px 10px 5px rgba(53,53,53,0.1);
            
            }

         
        
        .jp_form .jp_input_box{
        
            position: relative;
            width: 70%;
            border-bottom: 1px solid var(--white-blple--);
            /* background-color: #274d60; */
            
        }


        #jp_inp_job_descripton_div{
            border: none;
            border-radius: var(--border-radius_10--);
            border: 1px solid var(--white-blple--);
        }

        #job_description{
            /* border: 1px solid var(--blue-white); */
            border-radius: var(--border-radius_10--);
            width: 100%;
            height: 100%;
        }

   



            .jp_form .jp_input_box .jp_inp{
                width: 97%;
                padding: 0.2rem 0.5rem; 
           
                outline: none;
                border: none;
                background-color: transparent;
                border-radius: var(--border-radius_5--);
                color: var(--lusion-dark-b);
           
            }

        
            .both_salary_range_div{
                display: flex;
                flex-direction: row;
                width: 70%;     
            }

            

            .jp_input_box .jp_inp-lbl{
                position: absolute;
                font-size: 0.9rem;
                pointer-events: none;
                top: 0.2rem;
                left: 0.5rem;
                background-color: var(--gainsbro);
                color: var(--gray_1--);
            }

            .jp_input_box .jp_inp:focus + .jp_inp-lbl,
            .jp_input_box .jp_inp:not(:placeholder-shown) + .jp_inp-lbl{
                transform: translateY(-15px);
                transition: 0.8s;
                padding: 0rem 0.3rem;
                font-size: 0.6rem;
            }     

            
            .validation_div{
                grid-area: 2 / 1 / 2 / 3;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }

            .age_error_div{
                margin-top: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 68%;
                color: var(--color-danger);
         
            }
                .age_error_div p {
                    font-size: 0.8rem;
                }
                .age_error_div span {
                    margin-left: 0.2rem;
                    padding: 0rem 0.5rem;
                    border-radius: var(--border-radius_5--);
                    cursor: pointer;
                    
                }
                .age_error_div span:hover {
                    background:linear-gradient(var(--main-white--),var(--gainsbro));
                }


                .error_div{
                    color: var(--moon-phases-b);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: var(--border-radius_5--);
                    padding: 0.3rem 0.8rem;
                    background-color: rgb(231, 214, 216);
                    border: 1px solid rgb(232, 162, 168);
                }
                    .remove_error_prompt{
                        cursor: pointer;
                        padding: 0.1rem 0.7rem;
                        margin-left: 2rem;
                        border-radius: var(--border-radius_circle--);
                        background-color: rgb(231, 214, 216);
                        border: 1px solid rgb(232, 162, 168);
                        font-weight: 700;
                    }
                        .remove_error_prompt:hover{
                            background:linear-gradient(45deg ,rgb(231, 214, 216),var(--main-white--));
                         
                        }
                    
                    
            .jpf_button_div{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area: 3 / 1 / 3 / 3;
                
            }

            .jpf_button_div .buttons{
                
                    all: unset;
                    border-radius: var(--border-radius_8--);
                    background-color: var(--white-blple--);
                    padding: 0.4rem 3rem;
                    color: var(--pure_white--);
                  
                }
                    
                .jpf_button_div .buttons:hover{
                background:linear-gradient(45deg,var(--white-blple--),var(--purpluish--));
                }

                .jp_inp_id{
                  width: 100%;
               
                }   


        /* END OF ADD CSS */

      


                
/* DARKMODE SECTION ===================== ===================== ===================== =====================*/


.jpf_main_form.darkmode_popup{
    background-color: var(--lusion-dark-b);
}

    .jpf_logo_div.darkmode_popup{
        background-color: var(--color-dark-variant);
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
    }    

     #form_nodelab_text.darkmode_popup{

        background-clip: text;
     
        background:
        linear-gradient(
        to left,
        var(--moon-phases-c),
        var(--white-blple--)
        );
       
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .jpf_header.darkmode_popup{
        background-color: var(--color-dark-variant);
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
    
    }
     

    
        #jpf_dashboard:hover.darkmode_popup{
            background-color: var(--moon-phases-b);
        }


            #dashboard_button_icon.darkmode_popup{
                fill: var(--main-white--);
            }
            #jpf_dashboard_lbl.darkmode_popup{
                color: var(--main-white--);
            }

            #table_button_icon.darkmode_popup{
                fill: var(--main-white--);
            }
            #jp_table_lbl.darkmode_popup{
                color: var(--main-white--);
            }

          
            #sun_moon_toggle_button.darkmode_popup{
                                
                background: radial-gradient(circle at center, #f5f5f5, #d0d0d0 70%, #b0b0b0);
                background-color: gray;
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
                0 0 30px rgba(255, 255, 255, 0.3);
                
                transform: translateX(200%);
            }

            .darkmode_div.darkmode_popup{   
                box-shadow: inset 0px 4px 5px 3px rgba(0,0,0,0.5),
                0 0 30px rgba(0,0,0,0.5);           
                border: 2px solid var(--color-dark-shadow);
                background-color: var(--color-dark-variant);
            }
        


         

        #jpf_table:hover.darkmode_popup{
            background-color: var(--moon-phases-b);
        }

            #jpf_table_lbl.darkmode_popup{
                color: var(--main-white--);
            }

            #user_greetings.darkmode_popup{
                color: var(--main-white--);
            }
            #hd_role_type.darkmode_popup{
                color: var(--color-warning);
            }

    .jpf_fp_wrapper.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }       

    .jpf_function_nav_bar.darkmode_popup{
        background-color: var(--color-dark-variant);
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
    }   
        .jpf_function_nav_bar span.darkmode_popup{
            color: var(--main-white--);
        }
        .jpf_function_nav_bar svg.darkmode_popup{
            fill: var(--main-white--);
        }


        #jpf_input_form_div_id.darkmode_popup{
            background-color: var(--color-dark-variant);
            box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
        }
            .form_title_div.darkmode_popup{
                background-color: var(--dark-shadow-friend);
            }

            #joblistform-lbl.darkmode_popup{
                color: var(--main-white--);
            }

                .jp_input_box label.darkmode_popup{
                    background-color: var(--color-dark-variant);
                }
                
                .jp_input_box .jp_inp.darkmode_popup{
                    color:var(--main-white--);
                }


/* END OF DARKMODE SECTION ===================== ===================== ===================== =====================*/;