:root{

    --pure_white--: #fff;
    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --gainsbro:#F5F5F5;
    --fafafa:#fafafa;
    --blue-white:#d0e3ec;
    --floral-white:#fbf8f3;
    --fafafa:#fafafa;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --color-dark--blue: #363949;
  
    /* FONT COLOR */
    --font-color-1-:#2e3944;
  
    /* SIGNS */
    --color-danger: #ff7782;
    --color-danger-b: rgb(232, 162, 168);
    --color-danger-c:rgb(231, 214, 216);
    --color-success_a: #41f153;
    --color-success_b: #64e4b9;
    --color-warning: #ffbb55;


    /* PALLETE 2 */
    --fairy-green-p2-c6:#c6fad2;
    --foam-purple-p2-dd:#dd9bcf;
    --white-in-p2-f6:#f6ffee;
    --danger-in-p2-f4:#f48882;
    --most-pink-p2-fad:#fad2cc;

    --gray_1--:gray;
    --color-jk-dark:#212A31;
    --color-jk-dgray:#f6fbff;
  
    --color-dark-variant: #2c2f31;
    --dark-shadow-friend:#404040;
    --color-dark-shadow: rgb(53,53,53);
    --color-dark-shadow-alpha: rgba(53,53,53,0.5);
    --color-dark-blue:#1f2833;

    /* LUSION */
    --lusion-dark-a:#141619;
    --lusion-dark-b:#2c2e3a;

    /* MOON PHASES */
    --moon-phases-a:#212a31;
    --moon-phases-b:#2e3944;
    --moon-phases-c:#748d92;

    --font-color-a:#B0B0B0;
    --font-color-b:#E0E0E0;

    /* HELLO */
    --hello-a:#0b0c10;
    --hello-b:#000428;

    /* ISOLATED BLUE */
    --isolated-blue:#274d60;
    --isolated-orange:#f1916d;

    --grayple--: #9ba4d4;

    /* GRADIENT COLORS */
    --unique-gradeint-violet: rgb(199, 12, 246);
    --unique-light-blue: cyan;
    --unique-aqua-marine:aquamarine;
    --unique-green:rgb(9, 240, 98);
  
    /* BORDER RADIUS */
    --border-radius_5--:5px;
    --border-radius_8--:8px;
    --border-radius_10--:10px;
    --border-radius_15--:15px;
    --border-radius_20--:20px;
    --border-radius_30--:30px;

    --border-radius_circle--:50%;

}


@font-face {
    font-family: "Poppins";
    src: url("../../Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../../Fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Mokoto";
    src: url("../../Fonts/Mokoto/Mokoto_Demo.ttf");
}


*{
    padding: 0rem;
    margin: 0rem;
    font-family: "Poppins";
    color: var(--moon-phases-a);
}

a{
    text-decoration: none;
}

.jp_wrapper{
    
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 10vh 15vh 70vh; 

    width: 100%;
    height: 100%;
    gap: 1rem;

}   

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius_10--);
        background-color: var(--gainsbro);
        box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
    }

    .container.logo_frame{
        display: flex;
        align-items: center;
        justify-content: start;
        grid-area: 1 / 1 / 1 / 1;
        border-radius: 0px;
        border-bottom-right-radius:var(--border-radius_10--);
        text-decoration: none;
        transition: 1s;
    }

        .container.logo_frame img{
            margin-left: 1.5rem;
        
        }
            
            .container.logo_frame span{
                background-clip: text;
                font-family: 'Mokoto';
                letter-spacing: 0.1rem;
                color: var(--moon-phases-b);
                margin-left: 0.5rem;
                font-size: 1.2rem;

                background:
                linear-gradient(
                to left,
                var(--color-dark-variant),
                var(--moon-phases-c)
                );

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }


    
    .container.sidebar{
        grid-area: 2/1/ 4 /1 ;
        z-index: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    
        border-radius: 0px;
        border-top-right-radius:var(--border-radius_10--);
        border-bottom-right-radius:var(--border-radius_10--);
        transition: 1s;
    }

              

.sidebar .sidebar_buttons_div{
    display: flex;
    align-items: center;
    flex-direction: column;
 
    margin-top: 1.5rem;
    height: 80%;
    width: 80%;
   
   
}

    .sidebar .sidebar_buttons_div .sbuttons_div-href {
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 0.3rem;
        border-radius: var(--border-radius_8--);
        width: 80%;
        color: var(--color-dark-variant);
      
        cursor: pointer;
     
        text-decoration: none;

    }


    .sidebar .sbuttons_div-href:hover {
        margin-left: 1.5rem;
     
        color: var(--alice-blue);
        background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda);
        
    }

    


            .btn_content_div{
                display: flex;
                align-items: center;
                justify-content: start;
              
            }

                

        .sidebar_buttons_div #jobposting-btn-href{
            background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda); 
        }
    
            .sidebar_buttons_div #dashboard_button_icon{
                width: 18px;
                height: 18px;
                color: var(--font-color-1-);
                margin-right: 0.5rem;
            }


        .sidebar_buttons_div #recruitment-btn{
            margin-left: 0.5rem;
        }
            .sidebar_buttons_div #recruitment-lbtn{
                    margin-left: 0.6rem;
                }

        .sidebar_buttons_div #jobposting-btn{
            margin-right: 0rem;
        }

                #btn_lbl_jp_div{
                    margin-left: 0.2rem;
                }

        .sidebar_buttons_div #logout-btn-href{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 8rem;
            margin-left: 1rem;
            padding: 0.2rem 0.5rem;
            cursor: pointer;
        }

        
        .sidebar_buttons_div #logout-btn-href:hover{
            margin-left: 2rem;
        }
            #logout-btn-href #logout-btn{
                margin-right: 2.2rem;
            }


                

            .sidebar_buttons_div .logout-form-btn{
                margin-left: 0.5rem;
                cursor: pointer;
                background-color: transparent;
                outline: none;
                border: none;
            }
                    
                #btn_icon_logout_div{
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                 
                }
                    #logout_button_icon{
                        margin-top: 0.2rem;
                    }

              


        .sidebar_buttons_div .sbuttons_div{
            display: flex;
            align-items: center;
            justify-content: center ;
        
        }

            .sbuttons_div span{
                color: var(--lusion-dark-b);
                font-size: 0.9rem;
            }

            .sb_button_icons{
                width: 1rem;
                height: 1rem;
                fill: var(--font-color-1-);
                
            }

            #job_posting_button_icon{
                margin-right: 0.3rem;
            }

            
            #employee_button-icon{
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
             
            }







    .container.header{
        z-index: 2;
        grid-area: 1 / 2 / 1 / 5;
        border-bottom-left-radius: var(--border-radius_10--);  
        background-color: var(--gainsbro);
    }
        .header_parts{
            height: 100%;
            width: 50%;
        }
        
        .header_parts.right_header{
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: row-reverse;
        }

      
    .jp_right_header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row-reverse;    
        background-color: var(--mainblue--);
    }

        #right_header_profile{
            width: 2rem;
            height: 2rem;
            margin-right: 1.5rem;
        
            border-radius: var(--border-radius_circle--);
            background-color:var(--bluis--);
        }
            .darkmode_div{
                
                position: relative;
                display: flex;
                align-items: center;
                justify-content: start;
                overflow: hidden;
            
                transition: 0.8s;
            
                height: 1.7rem;
                width: 5rem;
                margin-right: 1.5rem;
                border-radius:  var(--border-radius_10--);

                box-shadow: inset 2px 2px 2px 2px rgba(53,53,53,0.2);
                background-color: var(--main-white--);    
            }

                    .darkmode_div #sun_moon_toggle_button{
                        cursor: pointer;
                        position: relative;
                        margin-left:  0.5rem;
                        margin-right: 0.5rem;
                        z-index: 1;
                        transition: 0.8s;
                        height: 1.3rem;
                        width: 1.3rem;
                        border-radius: var(--border-radius_circle--);
                        background: linear-gradient(45deg, var(--lusion-dark-b),var(--moon-phases-c));
                        box-shadow: 0 0 5px var(--moon-phases-c);

                    }

            
            #hd_role_div{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            
            #hr_name{
                padding: 0rem 0.5rem;
                border-right: 1px solid var(--blue-white);
                margin-right: 0.5rem;
                
            }

            .user_role{
                margin-right: 0.5rem;
                color: var(--color-warning);
            }





/* JP NUMBERS DIV */
.container.jp_number_frame{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: 2/ 2 / 2 / 5;
    gap: 1rem;
    box-shadow: none;
    background-color: transparent;
  
}

    .nc{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        border-radius: 8px;
        box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
    }
        .nc_text_div {
            width: 80%;
        }


    .number_card_a{
     
        grid-area: 1/ 1 / 3/ 1;
        background:linear-gradient(45deg,var(--white-blple--),var(--color-success_b));
      
    }



    .number_card_b{
        grid-area: 3/ 1 / 3/ 1;
        background-color: var(--white-blple--);
    }
    .number_card_c{
        grid-area: 4/ 1 / 4/ 1;
        background-color: var(--white-blple--);
    }
    
        .number_card.total_jobpost{
            
        }   
            .total_boxes{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            .label_box{
               justify-content: start;
               align-items: end;
                height: 30%;
    
            }
                .label_box svg{
                    width: 1rem;
                    height: 1rem;
                }

            #draft_icon{
                fill:var(--color-dark-blue);
                margin: 0.1rem 0.3rem;
                margin-bottom: 0.4rem;
            }
            
            .total_jobpost_txt_div{
                height: 70%;
              
            }



















    /* ====================================================================================================== */
    /* TABLE A WORKSPACE ====================================================================================================== */
    /* ====================================================================================================== */
    .container.table_a_workspace{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-right: 1rem;
        grid-area: 3/ 2 / 3 / 5;

    }

        .jp_container.jp_joblist_table_labels_stuff{
            display: flex;
            box-shadow: none;
            width: 96%;
            height: 10%;
            margin-bottom: 0.5rem;
            border-radius: var(--border-radius_5--);
          
        }
        
            .tb_lbl_div{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }   

            .left_tb_lbl_div{
                display: flex;
                align-items: center;
                justify-content: start;
               
                
            }
                    .jp_table_a_title{
                        font-size: 1.3rem;
                        font-family: 'Poppins Medium';  
                        color:rgba(44, 46, 58,0.8);
                    }
                     
                #jp_table_search_form_a{
                    margin-left: 0.5rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60%;        
                }
                    #jp_inp_search_a{
                        
                        width: 100%;
                        padding: 0.1rem 0.5rem;
                        margin-left: 1rem;
                        border: 2px solid var(--white-blple--);
                        border-radius: var(--border-radius_5--);
                        outline: none;
                        background-color: transparent;
                    }



                        #jp_inp_search_a:focus + #jp_tp_search_lbl_a,
                        #jp_inp_search_a:not(:placeholder-shown) + #jp_tp_search_lbl_a{
                            transform: translateY(-12px);
                            font-size: 0.5rem;
                            transition: 0.5s;
                            padding: 0rem 0.3rem;                      
                        }

                    #jp_tp_search_lbl_a{
                        position: absolute;
                        pointer-events: none;
                        color: gray;
                        font-size: 0.9rem;
                        left: 1.5rem;
                        background-color: var(--gainsbro);                
                    }
                  

                        #jp_tb_search-btn{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 0.5rem;
                            border: 1px solid var(--white-blple--);
                            border-radius: var(--border-radius_5--);
                        
                            box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.1);
                            font-size: 0.9rem;
                            cursor: pointer; 
                            background-color: var(--white-blple--);
                            padding: 0.2rem 0.3rem;                          
                            margin: 0.2rem 0.5rem;
                        }
                       
                        #jp_tb_search-btn svg{
                                height: 1.1rem;
                                width: 1.1rem;
                                fill:var(--main-white--);
                            }
                        #jp_tb_search-btn:hover{
                                background:linear-gradient(45deg,var(--white-blple--),var(--color-success_b));
                            }
                            

        

            /* right    */
            .right_tb_box{
                     margin-right: 1rem;
            }
            .tb_lbl_div.right_tb_lbl_div{
                display: flex;
                align-items: center;
                justify-content: end;
                flex-direction: row-reverse;
                width: 96%;
            }   

         
                .filter_status{
                    border-radius: var(--border-radius_5--);                  
                    padding: 0.1rem 0rem;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border: 1px solid var(--moon-phases-c);
                    box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                    background-color: var(--main-white--);
                   
                }

                .filter_status.darkmode_popup{
                    background-color: var(--color-dark-variant);
                    color: var(--main-white--);
                    border: 2px solid var(--dark-shadow-friend);
                    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
                }

                


                .tb_lbl_div.right_tb_lbl_div .tb_add_jobpost_link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0rem;
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0.5rem 1.5rem;
                    border-radius: var(--border-radius_8--);
                    cursor: pointer;
                   box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                    background-color: var(--white-blple--);
                    color: var(--lusion-dark-b);   
                }   

                .tb_lbl_div.right_tb_lbl_div .tb_add_jobpost_link:hover{
                    background:linear-gradient(to top right,var(--white-blple--),var(--white-blple--),var(--main-white--));          
                }   


            .table_switch_frame{
                display: flex;
                align-items: center;                      
            }   
                .table_switch_frame button{
                    border-radius: var(--border-radius_5--);                  
                    padding: 0.2rem 0.5rem;
                    outline: none;
                    border: none;
                    cursor: pointer;
                   
                  box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                    background-color: var(--main-white--);
                }

                .table_switch_frame #table-a-switch{
                    background-color: var(--white-blple--);
                }
                .table_switch_frame #table-b-switch{
                    background-color: var(--main-white--);
                  }   




            /* SUCCESS DIV */
            .success_div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem 0.7rem;
                width: 100%;
                margin-bottom: 1rem;
                border-radius: var(--border-radius_5--);
                color: var(--moon-phases-b);
                background-color: rgb(199, 224, 201);
                border: 1px solid var(--color-success_a);
            }
              

                .success_div span{
                    margin-left: 2rem;
                    padding: 0.1rem 0.7rem;
                    border-radius: var(--border-radius_10--);
                    cursor: pointer;
                    background-color: rgba(65, 241, 83,0.2);
                }
                    .success_div span:hover{
                        margin-left: 2rem;
                        padding: 0.1rem 0.7rem;
                        border-radius: var(--border-radius_10--);
                        background:linear-gradient(45deg, rgb(65, 241, 83),var(--main-white--)); 
                    }
                        
                    .validation_div{
                        margin-top: 0;
                        display: flex;
                        align-items:center;
                        justify-content: center;
                        align-self: center;
                        width: 50%;                
                    }







        .joblist_content_div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            width: 96%;
            margin-bottom: 2rem;
        }
            .joblist_content_div .table_div {
                display: flex;
                justify-content: start;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                width: 100%;
            }


            .table_div::-webkit-scrollbar{
                width: 1rem;
                padding: 0.5rem;
                background-color: var(--gainsbro);
            }

            .table_div::-webkit-scrollbar-track{
                border-radius: 100vw;
            }
            .table_div::-webkit-scrollbar-thumb{
                cursor: pointer;
                border-radius: 50px;      
                background:linear-gradient(45deg,var(--moon-phases-b),var(--moon-phases-c));
                border: solid 4px var(--gainsbro);
            }

                /* Normal Table Layout */
                .table_div .jp_table {
                    width: 100%;
                    max-width: 100%;
                    table-layout: fixed; 
                    background-color: transparent;
                    border-collapse: collapse; 
                }        
                    .jp_table .jp_tr{
                        background:linear-gradient(45deg,#d0d7e6,var(--white-blple--));
                    }
                                

                
                /* TABLE HEADER STYLES */
                 th{
                        font-family: 'Poppins Medium';  
                        text-align: center;
                        padding: 0.2rem; 
                        cursor: pointer;
                        font-size: 0.9rem;
                        position: relative;
                        font-weight: normal;
                        color: var(--lusion-dark-b);
                        width: 25%; 
                        background-color: transparent;
                        box-sizing: border-box;
                        word-wrap: break-word; 
                        overflow-wrap: break-word; 
                        white-space: normal; 
                    }

                    
                    .jp_table .jp_th::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        transform-origin: left;
                        transform: scaleX(0);
                        bottom: 0px;
                        left: 0;
                        transition: 0.5s;
                        background-color: var(--pure_white--);
                    }


                        #jp_th_id{width: 18%;}
                        #jp_th_job_title{width: 30%;}
                        #jp_th_job_description{width:30%;}
                        #jp_th_field_category{width: 25%;}
                        #jp_th_min_age{width: 12%;}
                        #jp_th_max_age{width: 12%;}
                        #jp_th_job_location{width: 30%;}
                        #jp_th_status{width: 30%;}
                        #jp_th_action{width: 55%;}

                      
                    
                    .jp_table .jp_th:hover::after {
                        transform: scaleX(1);   
                    }


                    .jp_table tr:nth-child(odd) {
                        background-color: var(--main-white--);
                    }
                    
                    .jp_table tr:nth-child(even) {              
                        background-color: var(--gainsbro);
                    }

                

                    #noresults_td_a{
                        padding: 5rem;         
                     }
     
                        
                        /* Table Cell Styles */
                        td {
                            width: 25%;  
                            padding: 1rem;
                            font-size: 0.8rem;
                            word-wrap: break-word; 
                            overflow-wrap: break-word; 
                            white-space: normal; 
                            text-align: center;
                            
                            box-sizing: border-box;              
                            background-color: transparent;
                        }

                            .jp_table button{
                                box-shadow: 0px 5px 10px 5px rgba(53,53,53,0.1);
                            }


                            /* search result  */
                      
                            .jp_table .search-result-row:nth-child(odd){
                                background-color: var(--main-white--);
                                border: none;
                            }
                            .jp_table .search-result-row:nth-child(even){
                                background-color: var(--main-white--);
                                border: none;
                            }
                
                            .search-result-row:hover {
                                background: linear-gradient(to left,var(--main-white--),var(--white-blple--)); 
                            }

                        
                        
                            .jp_table .tba_output_jp_tr:hover{
                                background: linear-gradient(to left,var(--main-white--),var(--white-blple--)); 
                            }





                            .tbl-a-btn-container{
                                
                                display: flex;
                                justify-content: space-evenly;                 
                                width: 100%;
                              
                            }.tbl-a-btn-container svg{
                                pointer-events: none;
                            }

                            .tbl-a-btn-container .button_form {
                                display: flex;
                                align-items: center;
                                justify-content: center;     
                            }  

                                .tbla-button{
                                    cursor: pointer;
                                    outline: none;
                                    border: none;
                                    border-radius: var(--border-radius_5--);
                                    padding: 0.1rem 0.5rem;
                                    color: var(--moon-phases-b);    
                                }


                                     /* post button */
                                    .button_form .tbla-post-btn{                                      
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 0.5rem;
                                        background-color: var(--color-success_b);
                                      
                                    } .button_form .tbla-post-btn:hover{
                                        background:linear-gradient(45deg,var(--color-success_b),var(--main-white--));
                                    }

                                     
                                    /* edit button */
                                    .button_form .tbla-edit-btn{                                    
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-right: 0.5rem;
                                        background-color: var(--white-blple--);
   
                                    }.button_form .tbla-edit-btn:hover{
                                        background:linear-gradient(45deg,var(--white-blple--),var(--main-white--));
                                     }
  

                                    /* delete button */
                                    .button_form .tbla-delete-btn{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: var(--color-danger-b);
                                        

                                    }.button_form .tbla-delete-btn:hover{
                                        background:linear-gradient(45deg, var(--color-danger-b),var(--main-white--));
                                     }

                            
                                     
                .table_b_content_div{
                    display: none;
                    height: 100%;
                    align-items: center;
                    justify-content: start;
                    flex-direction: column;
                    height: 80%;
                    width: 96%;
                    margin-bottom: 2rem;
                }
                    .table_b_content_div .table_div{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column;
                        width: 100%;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }

                        .jp_th_b#jp_th_b_action{
                            width: 100%;
                            padding: 0rem 4rem;
                        }

                        .tbl-button-action-div_b{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 100%;   
                        }
                        
                            
                            .tbl-b-btn-container_b{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                                padding: 0rem;
                            }

    /* ====================================================================================================== */
    /* TABLE B CONTENT_DIV ====================================================================================================== */
    /* ====================================================================================================== */
    


 
    