
:root{

    --pure_white--: #fff;
    --main-white--:#ede8f5;
    --white-blple--:#adbbda;
    --gainsbro:#F5F5F5;
    --fafafa:#fafafa;
    --blue-white:#d0e3ec;
    --floral-white:#fbf8f3;
    --fafafa:#fafafa;
    --purpluish--:#8697c4;
    --bluis--:#7091e6;
    --mainblue--:#3d52a0;
    --color-dark--blue: #363949;
  
    /* FONT COLOR */
    --font-color-1-:#2e3944;
  
    /* SIGNS */
    --color-danger: #ff7782;
    --color-danger-b: rgb(232, 162, 168);
    --color-danger-c:rgb(231, 214, 216);
    --color-success_a: #41f153;
    --color-success_b: #64e4b9;
    --color-warning: #ffbb55;


    /* CLOTHIGN STORE REFERENCE */

    --thistle-p1-cd:#cdb4db;
    --fairy-tale-p1-ffc:#ffc8dd;
    --carnation-pink-p1-ffa:#ffafcc;
    --uranian-blue-p1-bd:#bd30fe;
    --light-sky-blue-p1-a2:#a2d2ff;

    /* PALLETE 2 */
    --fairy-green-p2-c6:#c6fad2;
    --foam-purple-p2-dd:#dd9bcf;
    --white-in-p2-f6:#f6ffee;
    --danger-in-p2-f4:#f48882;
    --most-pink-p2-fad:#fad2cc;




    --gray_1--:gray;
    --color-jk-dark:#212A31;
    --color-jk-dgray:#f6fbff;
  
    --color-dark-variant: #2c2f31;
    --dark-shadow-friend:#404040;
    --color-dark-shadow: rgb(53,53,53);
    --color-dark-shadow-alpha: rgba(53,53,53,0.5);
    --color-dark-blue:#1f2833;

    /* LUSION */
    --lusion-dark-a:#141619;
    --lusion-dark-b:#2c2e3a;

    /* MOON PHASES */
    --moon-phases-a:#212a31;
    --moon-phases-b:#2e3944;
    --moon-phases-c:#748d92;

    --font-color-a:#B0B0B0;
    --font-color-b:#E0E0E0;

    /* HELLO */
    --hello-a:#0b0c10;
    --hello-b:#000428;

    /* ISOLATED BLUE */
    --isolated-blue:#274d60;
    --isolated-orange:#f1916d;

    --grayple--: #9ba4d4;

    /* GRADIENT COLORS */
    --unique-gradeint-violet: rgb(199, 12, 246);
    --unique-light-blue: cyan;
    --unique-aqua-marine:aquamarine;
    --unique-green:rgb(9, 240, 98);
  
    /* BORDER RADIUS */
    --border-radius_5--:5px;
    --border-radius_8--:8px;
    --border-radius_10--:10px;
    --border-radius_15--:15px;
    --border-radius_20--:20px;
    --border-radius_30--:30px;

    --border-radius_circle--:50%;


}




@font-face {
    font-family: 'Poppins';
    src: url('../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../Fonts/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Fauna';
    src: url('../../Fonts/Fauna/fauna-thin.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../Fonts/Poppins/Poppins-Medium.ttf');
}


@font-face {
    font-family: 'Mokoto_Demo';
    src: url('../../Fonts/Mokoto/Mokoto_Demo.ttf');
}



*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
  
}

body{
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-color: var(--pure_white--);
  
   
}

span,p{
    text-align: center;
    word-break: break-all;
    color: var(--moon-phases-b);
}


.main_recq_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 10vh 15vh 35vh 35vh; 
    width: 100%;
    height: 100vh;
    max-height: 100vh;
 
    gap: 1rem;
}

    .template{

        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 10vh 15vh 35vh 35vh; 
        grid-area: 1/ 1 / 4 / 5;
        width: 100%;
        height: 100vh;

    }
    .bd_recq_wrapper{
        
        
    }

    .fp_recq_wrapper{
        gap: 1rem;
      
        background-color: #fafafa;
    }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
         
            background-color: var(--gainsbro);
            box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);

        }
            .container.logo_div{
                display: flex;
                align-items: center;
                justify-content: start;
                grid-area: 1 / 1 / 1 / 1;
                border-radius: 0px;
                height: 100%;
                border-bottom-right-radius:var(--border-radius_10--);
                text-decoration: none;
                width: 100%;

            }

                .container.logo_div img{
                    margin-left: 1.5rem;        
                }
              
                .container.logo_div .logo_text{
                    background-clip: text;
                    font-family: 'Mokoto_Demo';
                    letter-spacing: 0.1rem;
                    color: var(--moon-phases-b);
                    margin-left: 0.5rem;
                    font-size: 1.2rem;
               
                    background:
                    linear-gradient(
                    to left,
                    var(--color-dark-variant),
                    var(--moon-phases-c)
                    );
        
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
   
                }



                
            .container.main_prompt_con{
                box-shadow: none;
                background-color: transparent;
            }   

                .main_prompt_con .text_a{
                    font-family: 'Poppins-Medium';
                    font-size: 1.5rem;
                    padding: 0.2rem 0.5rem;
                    letter-spacing: 1px;
                    color: var(--moon-phases-b);
                    border-right: 1px solid var(--gray_1--);
                 
                    
                }

                .main_prompt_con .text_b{        
                    padding: 0.5rem;
                    color: var(--gray_1--);
                  
                }










                
 /* HEADER_______________________________________________________________________________________________________*/
            .container.header{
                display: flex;
                align-items: center;
                justify-content: end;
                grid-area: 1 / 3 / 1 / 5;
               
                border-radius: 0px;
                border-bottom-left-radius:var(--border-radius_10--);

            }

                .header_div{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }

        

                .right_h_contents{
                    margin-left: 0.5rem;
                }

                #hd_role_div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0rem 0.3rem;
                    border-left: 1px solid var(--blue-white);
                    /* background-color: yellow; */
                }

                .user_role{
                    color: var(--color-warning);
                }



                #right_header_div{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    flex-direction: row-reverse;
                    /* background-color: var(--mainblue--); */
                }


                #right_header_profile{
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1.5rem;
                
                    border-radius: var(--border-radius_circle--);
                    border: 2px solid var(--white-blple--);
                    background-color:var(--bluis--);
                }


                .darkmode_div{
                    
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    overflow: hidden;
                
                    transition: 0.8s;
                
                    height: 1.7rem;
                    width: 5rem;
                    margin-right: 1.5rem;
                    border-radius:  var(--border-radius_10--);

                    box-shadow: inset 2px 2px 2px 2px rgba(53,53,53,0.2);
                    background-color: var(--main-white--);
                    
                }


                .darkmode_div #sun_moon_toggle_button{
                    cursor: pointer;
                    position: relative;
                    margin-left:  0.5rem;
                    margin-right: 0.5rem;
                    z-index: 1;
                    transition: 0.8s;
                    height: 1.3rem;
                    width: 1.3rem;
                    border-radius: var(--border-radius_circle--);
                    background: linear-gradient(45deg, var(--lusion-dark-b),var(--moon-phases-c));
                    box-shadow: 0 0 5px var(--moon-phases-c);

                }


                #sun_moon_toggle_button.darkmode_popup{
                                                
                    background: radial-gradient(circle at center, #f5f5f5, #d0d0d0 70%, #b0b0b0);
                    background-color: gray;
                    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
                    0 0 30px rgba(255, 255, 255, 0.3);
                    
                    transform: translateX(200%);
                }

                .darkmode_div.darkmode_popup{   
                    box-shadow: inset 0px 4px 5px 3px rgba(0,0,0,0.5),
                    0 0 30px rgba(0,0,0,0.5);           
                    border: 2px solid var(--color-dark-shadow);
                    background-color: var(--color-dark-variant);
                    
                }




        

       

            .container.sidebar{

                grid-area: 2 / 1 / 5 / 1;
                z-index: 1;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
            
                border-radius: 0px;
                border-top-right-radius:var(--border-radius_10--);
                
            }

                    

                        

            .sidebar .sidebar_buttons_div{
                display: flex;
                align-items: center;
                flex-direction: column;
            
                margin-top: 1.5rem;
                height: 80%;
                width: 80%;
            
            }

                .sidebar .sidebar_buttons_div .sbuttons_div-href {
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem;

                    padding: 0.3rem;
                    
                    border-radius: var(--border-radius_8--);
                    width: 80%;
                    color: var(--color-dark-variant);
                    transition: 0.2s;
                    cursor: pointer;

                    text-decoration: none;

                }


                .sidebar .sbuttons_div-href:hover {
                    margin-left: 1.5rem;
                    transition: 0.5s;
                    color: var(--alice-blue);
                    background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda);
                }

                .sbuttons_div{
                    /* background-color: red; */
                }

                


                        .btn_content_div{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            /* background-color: red; */
                        }

                        

                    .sidebar_buttons_div #dashboard-btn-href{
                    }
                        .sidebar_buttons_div #dashboard_button_icon{
                            width: 18px;
                            height: 18px;         
                            margin-right: 0.5rem;
                        }



                    .sidebar_buttons_div #recruitment-btn-href{
                        background:linear-gradient(45deg,#adbbda,#9ba4dd,#adbbda);
                    }

                    .sidebar_buttons_div #recruitment-btn{
                        margin-left: 0.5rem;
                    }
                        .sidebar_buttons_div #recruitment-lbtn{
                                margin-left: 0.6rem;
                            }

                    .sidebar_buttons_div #jobposting-btn{
                        margin-right: 0rem;
                    }

                            #btn_lbl_jp_div{
                                margin-left: 0.2rem;
                            }

                    .sidebar_buttons_div .sbuttons_div{
                        display: flex;                  
                        align-items: center;
                        justify-content: center ;
                    
                    }

                        .sbuttons_div span{
                            color: var(--lusion-dark-b);
                            font-size: 0.9rem;
                        }

                        .sb_button_icons{
                            width: 1rem;
                            height: 1rem;
                            fill: var(--moon-phases-b);
                            
                        }

                        #job_posting_button_icon{
                            margin-right: 0.3rem;
                        }

                        #employee_button-icon{
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.5rem;
                          
                        }






















            .container.number_div{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: 1fr;
                gap: 1rem;
                grid-area: 2/ 2/ 2 / 4;   
                border-radius: var(--border-radius_10--);
                box-shadow: none;
            }


            .nc_contents{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius_10--);
                box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.2);
            }

            .nc_contents span{
                margin-left: 0.5rem;
                color: var(--pure_white--);
            }
        
     
                    .nc_lbl_div {
                        display: flex;
                        align-items: start;
                        justify-content: start;
                 
                        margin: 0.5rem;
                        height: 20%;
                        width: 100%;
                    }

            
                #employee_number{
                    grid-area: 1 / 1 / 1 / 1;
                    background-color: var(--white-blple--);
                }
                #jobseekers_number{
                    grid-area: 1 / 2 / 1 / 2;
                    background-color:var(--grayple--);
                }
                #rjct_appr_number{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 1rem;
                    grid-area: 1 / 3 / 1 / 3;
                    box-shadow: none;
                    background-color: transparent;
                 
                }

                    .rjct_appr_subdiv{
                        display: flex;
                        align-items: start;
                        justify-content: start;
                        border-radius: var(--border-radius_10--);
                        width: 100%;
                        height: 100%;
                    }
                      
                        .rjct_appr_subdiv span{   
                            font-size: 0.9rem;
                                margin: 0.5rem;   
                                color: var(--moon-phases-b)
                         }

                        .reject_js_div{
                            /* background: linear-gradient(45deg,var(--gainsbro),var(--gainsbrom),var(--danger-in-p2-f4)); */
                            box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                        }
                            

                        .approved_js_div{
                          
                            box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                            /* background: linear-gradient(45deg,var(--gainsbro),var(--gainsbro),var(--danger-in-p2-f4)); */
                        }


            
                    
                







































            /* MAIN CONTENTS  ==============  ==============  ============== ============== ============== ============== ==============*/
            .container.main_contents{
                grid-area: 3 / 2 / 5 / 5;
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 0;
                border-top-right-radius: var(--border-radius_10--);
                border-top-left-radius: var(--border-radius_10--);
            
                overflow-y: auto;
                overflow-x: hidden;
               
            }
            
            
                .mc_div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                }
            
                .mc_header{
                    height: 15%;
                }.mcd_div{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 50%;
               }.mcd_div.mcdiv_left{
                justify-content: start;
               }
                   
                  .mc_header_text{
                    font-size: 1.3rem;
                    font-family: 'Poppins-Medium';  
                    color:rgba(44, 46, 58,0.8);
                  }
               

        #rc_table_search_form_a{
            margin-left: 0.5rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;        
        }
            #rc_inp_search_a{
                
                width: 100%;
                padding: 0.1rem 0.5rem;
                margin-left: 1rem;
                border: 2px solid var(--white-blple--);
                border-radius: var(--border-radius_5--);
                outline: none;
                background-color: transparent;
            }



        #rc_inp_search_a:focus + #rc_tp_search_lbl_a,
        #rc_inp_search_a:not(:placeholder-shown) + #rc_tp_search_lbl_a{
            transform: translateY(-12px);
            font-size: 0.5rem;
            transition: 0.5s;
            padding: 0rem 0.3rem;                      
        }

            #rc_tp_search_lbl_a{
                position: absolute;
                pointer-events: none;
                color: gray;
                font-size: 0.9rem;
                left: 1.5rem;
                background-color: var(--gainsbro);                
            }
            

                #rc_tb_search-btn{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 0.5rem;
                    border: 1px solid var(--white-blple--);
                    border-radius: var(--border-radius_5--);
                
                    box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.1);
                    font-size: 0.9rem;
                    cursor: pointer; 
                    background-color: var(--white-blple--);
                    padding: 0.2rem 0.3rem;                          
                    margin: 0.2rem 0.5rem;
                }
                
                #rc_tb_search-btn svg{
                        height: 1.1rem;
                        width: 1.1rem;
                        fill:var(--main-white--);
                    }
                    #rc_tb_search-btn:hover{
                            background:linear-gradient(45deg,var(--white-blple--),var(--color-success_b));
                            }
                            


               .mcd_div.mcdiv_right{
                    justify-content: end;
               }



                    .filter_status.select_rj_appr{
                     
                        border-radius: var(--border-radius_5--);
                       
                        padding: 0rem;
                        margin-right: 0.8rem;
                        background-color:var(--gainsbro);
                        padding: 0.1rem 0rem;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border: 1px solid var(--moon-phases-c);
                        box-shadow: 5px 5px 10px 5px rgba(53,53,53,0.1);
                        background-color: var(--main-white--);
                    }
             

                    .filter_form.darkmode_popup{
                        background-color: var(--color-dark-variant);
                        color: var(--main-white--);
                        border: 2px solid var(--dark-shadow-friend);
                        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
                    }

                  
               
            
            
                .mc_content_div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                    margin-bottom: 1rem;
                    height: 85%;
              
                }

                    .mc_table_div{
                        display: flex;
                            justify-content: start;
                            flex-direction: column;
                            overflow-y: auto;
                            overflow-x: hidden;
                            height: 100%;
                            width: 100%;
            
                      
                    }  
                    
                    .mc_table_div::-webkit-scrollbar{
                        width: 1rem;
                        padding: 0.5rem;
                        background-color: var(--gainsbro);
                    }
            
                    .mc_table_div::-webkit-scrollbar-track{
                        border-radius: 100vw;
                    }
            
                    .mc_table_div::-webkit-scrollbar-thumb{
                        cursor: pointer;
                        border-radius: 50px;
                        
                        background:linear-gradient(45deg,var(--moon-phases-b),var(--moon-phases-c));
                        border: solid 4px var(--gainsbro);
            
                    }
            
            
                        
                    .success_div{
                                                            
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      
                        padding: 1rem 0.7rem;
                        margin: 0 1rem;
                        margin-bottom: 1rem;
                        border-radius: var(--border-radius_5--);
                        color: var(--moon-phases-b);
                        background-color: rgb(199, 224, 201);
                        border: 1px solid var(--color-success_a);
                    }
                    
            
                        .success_div span{
                            margin-left: 2rem;
                            padding: 0.1rem 0.7rem;
                            border-radius: var(--border-radius_10--);
                            cursor: pointer;
                            background-color: rgba(65, 241, 83,0.2);
                        }
                            .success_div span:hover{
                                margin-left: 2rem;
                                padding: 0.1rem 0.7rem;
                                border-radius: var(--border-radius_10--);
                                background:linear-gradient(45deg, rgb(65, 241, 83),var(--main-white--)); 
                            }
            
            
            
                        .mc_table_div .db_js_table{
                            width: 100%;
                            max-width: 100%;
                            table-layout: fixed; 
                            background-color: transparent;
                            border-collapse: collapse; 
                        }
            

                        .no_jobpost_found_tr td{
                            padding: 5rem;
                            background-color: red;
                        }
            
                            
                        .db_js_table .mc_th_tr{  
                            background:linear-gradient(45deg,#d0d7e6,var(--white-blple--));
                        }
            
                               .mc_th{
            
                                font-family: 'Poppins-Medium';  
                                text-align: center;
                                padding: 0.2rem; 
                                cursor: pointer;
                                font-size: 0.9rem;
                                position: relative;
                                font-weight: normal;
                                color: var(--lusion-dark-b);
                                width: 25%; 
                                background-color: transparent;
                            
                                box-sizing: border-box;
                                word-wrap: break-word; 
                                overflow-wrap: break-word;  
                                white-space: normal; 
                               
                            }
                            
                                .db_js_table .mc_data_tr{
                                    background-color: var(--gainsbro);
                                }
                  
                                .db_js_table .mc_data_tr:nth-child(odd) {                             
                                    background-color: var(--main-white--);
                                }
                                
                                .db_js_table .mc_data_tr:nth-child(even) {
                                    z-index: 2;
                                    background-color: var(--gainsbro);
                                }
                                
                                .db_js_table .mc_data_tr:nth-child(even).darkmode_popup{
                                
                                    background-color: var(--color-dark-shadow);
                                }
            
            
            
            
                                .db_js_table td{
                                    width: 25%;  
                                    padding: 1rem;
                                    font-size: 0.8rem;
                                    word-wrap: break-word; 
                                    overflow-wrap: break-word; 
                                    white-space: normal; 
                                    text-align: center;
                                    
                                    box-sizing: border-box; 
                            
                                    color: var(--lusion-dark-b);
                                    background-color: transparent;
                                }
            
                                  
                                         /* .mc_th.th_firstname{
            
                                         }
                                         .mc_th.th_lastname{
                                            
                                         }
                                         .mc_th.th_applied_to{
            
                                         }
                                         .mc_th.th_email{
            
                                         }
                                         .mc_th.th_phone_num{
            
                                         }

                                         */
                                         
                                         .mc_th.th_status{
                                            width: 30%;
                                         } 
            
                                        .db_js_table .mc_th.th_action{
                                            width: 70%;    
                                         }
                                  
                                        .db_js_table .td_output_js_resume{
                                          cursor: pointer;
                                        }
            
            
                            
                                                    .td_output_js_action .tb_button_div{
                                                     
                                                        display: grid;
                                                        grid-template-columns: repeat(3, 1fr); 
                                                        gap: 1rem; 
                                                        width: 100%;
                                                        align-items: center; 
                                                        justify-content: center; 
                                          
                                                        box-sizing: border-box;
                                               
                                                    }

                                                    .mc_tb_btn{
                                                        z-index: 2;
                                                        
                                                        padding: 0.2rem 0rem;
                                                        cursor: pointer;
                                                        box-shadow: 0px 5px 10px 5px rgba(53,53,53,0.1);
                                                        text-decoration: none;
                                                        color: var(--moon-phases-b);
                                                        border-radius: var(--border-radius_5--);
                                                    
                                                    }


                                                        .mc_tb_btn.create-account-button{
                                                            grid-area: 1 / 1/ 1 / 1;
                                                            background: linear-gradient(45deg, var(--white-blple--), var(--white-blple--));
                                                        }


                                                        .mc_tb_btn.recruit-button{
                                                            grid-area: 1 / 2/ 1 / 2;
                                            
                                                        
                                                            background:linear-gradient(
                                                            to right,
                                                            var(--main-white--),
                                                            var(--white-blple--),
                                                            var(--color-success_b)
                                                            
                                                            );

                                                        }

                                                        
                                                          .mc_tb_btn.recruit-button:hover{
                                                                background:linear-gradient(45deg,var(--color-success_b),var(--main-white--));
                                                            }

                                                             
            
                                                        .mc_tb_btn.reject-button{
                                                          
                                                            grid-area: 1 / 3/ 1 / 3;
                                                            background-color: var(--color-danger);
                                                    }              
                                                            .mc_tb_btn.reject-button:hover{
                                                                background:linear-gradient(45deg,var(--color-danger),var(--main-white--));
                                                            }
            
                        
                                            .db_js_table .mc_data_tr:hover{
                                                background: linear-gradient(to left,var(--main-white--),var(--white-blple--)); 
                                            }
            
                                            
                                            
            
            



    
/* --------------------------------------------------------------------- --------------------------  */
/*  DARKMODE CLASS FUNCTIONS --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- --------------------------  */



.main_recq_wrapper.darkmode_popup{
    background-color: var(--color-dark-variant);
}
    .bd_recq_wrapper.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }

    .fp_recq_wrapper.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }

    .logo_div.darkmode_popup{
        background-color: var(--color-dark-variant);
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
    }


    .logo_div #db_nodelab_text.darkmode_popup{
            background-clip: text;
            background:linear-gradient(to left,var(--moon-phases-c),var(--white-blple--));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
    }

    
    .mc_th_tr.darkmode_popup{
        background:linear-gradient(to right,var(--moon-phases-c),var(--color-dark-variant));
    }

        .mc_th_tr th.darkmode_popup{
            color: var(--main-white--);
        }



    .db_js_table .mc_data_tr:nth-child(odd).darkmode_popup{
        z-index: 1;
        background-color: var(--color-dark-shadow-alpha);

        }

    .db_js_table .mc_data_tr:nth-child(even).darkmode_popup{

        z-index: 2;
        background-color: var(--color-dark-shadow);

        }
            
    .db_js_table .mc_data_tr:hover.darkmode_popup{
        background:linear-gradient(to right,var(--moon-phases-b),
        var(--color-dark-variant));
    }

    .db_js_table .mc_tb_data.darkmode_popup{
        color: var(--main-white--);
    }






.sidebar.darkmode_popup{
    background:linear-gradient(to top,var(--color-dark-variant), var(--color-dark-variant),var(--color-dark-variant));
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);    
}



    .sidebar svg.darkmode_popup{
        fill: var(--main-white--);
    }

    .sidebar span.darkmode_popup{
        color: var(--main-white--);
    }
    .sidebar button.darkmode_popup{
        color: var(--main-white--);
    }

    .text_a.darkmode_popup{
        color: var(--main-white--)
    }
    .text_b.darkmode_popup{
        color: var(--main-white--);
    }
    




.header.darkmode_popup{
    background: linear-gradient(70deg,var(--color-dark-variant),#2c2e3a); 
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}




    #user_greetings.darkmode_popup{
        color: var(--main-white--);
    }

    #hd_role_type.darkmode_popup{
        color: var(--color-warning);
    }
    #hr_name.darkmode_popup{
        color: var(--main-white--);
    }

    #employee_number.darkmode_popup{
        box-shadowZZZ: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }

    #jobseekers_number.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }

    #jobpost_number.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
    }





.number_div.darkmode_popup{
        background-color: var(--lusion-dark-b);
    }

    .approved_js_div.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
     
    }
    
    .reject_js_div.darkmode_popup{
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.3);
        
    }

    .rjct_appr_subdiv span.darkmode_popup{
        color: var(--main-white--);
      
    }









.main_contents.darkmode_popup{
        background-color: var(--color-dark-variant);
        box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
    
    }
    
    .mc_header_text.darkmode_popup{
        color: var(--main-white--);
    }

           
    .select_rj_appr.darkmode_popup{
        background-color: var(--color-dark-variant);
        color: var(--main-white--);
        border: 2px solid var(--dark-shadow-friend);
        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
    }


    .mc_table_div.darkmode_popup::-webkit-scrollbar{
        background-color: var(--color-dark-variant);
    }

    .mc_table_div.darkmode_popup::-webkit-scrollbar-thumb{
        border: solid 4px var(--color-dark-variant);
   
    }

        
